@import "tailwindcss";

.hero-gradient-bg {
  background: linear-gradient(to bottom, #e3eed4, #6b9071, #375534, #0f2a1d);
}

.hero-text-color {
    color: rgb(167, 168, 167);
    font-size: 1rem;

}

@media (max-width: 576px) {
  .hero-text-color {
        color: rgb(239, 241, 239);
    font-size: 1.25rem; 
  }
}